.breadcrumbs {
  @extend %hor-list;
  //margin-top: 50px;
  overflow: hidden;

  a {
    background: #f4ecdc;
    display: block;
    padding: 6px 9px;
    font-size: 14px;
    @include text-shadow(0 1px #fff);
    @include border-radius(4px);

    &:hover {
      background: #eee1c8;
    }
  }

  li:last-child {
    margin: 0 2em 0 0;

    a {
      padding-right: 0;
      position: relative;
      z-index: 1;

      &:after {
        background: #f4ecdc;
        content: "";
        height: 2.5em;
        margin-top: -1.25em;
        position: absolute;
        right: -0.5em;
        top: 50%;
        width: 2.5em;
        z-index: -1;
        @include border-radius(4px);
        @include transform(rotate(45deg));
      }

      &:hover:after {
        background: #eee1c8;
      }
    }
  }
}

.breadcrumbs-embossed {
  a {
    color: #3f3d34;
    background: #c7cb8c;
    @include box-shadow(inset 0 1px #828733);

    &:hover {
      background: lighten(#c7cb8c, 5%);
    }
  }

  li:last-child {
    a {
      &:before {
        background: #828733;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.5em;
        z-index: 0;
      }

      &:after {
        background: #c7cb8c;
        @include box-shadow(inset 0 1px #828733);
      }

      &:hover:after {
        background: lighten(#c7cb8c, 5%);
      }
    }
  }
}