// Default button

.btn {
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 8px 10px;
  font-size: 21px;
  line-height: 1.1;
  background: #a2a940;
  border: 0 none;
  @include border-radius(8px);
  @include text-shadow(0 1px rgba(#000, .3));
  @include box-shadow(0 2px 0 #71762d);

  &:hover {
    color: #fff;
    background: lighten(#a2a940, 5%);
  }

  &:active {
    @include box-shadow(inset 0 1px 0 rgba(#71762D, .8));
    @include text-shadow(0 -1px rgba(#000, .3));
  }

  &:disabled {
    color: #b29a69;
    background: #e5d3af;
    @include text-shadow(0 1px 0 #fff);
    @include box-shadow(none);
  }
}

// Button sizes

.btn-small {
  font-size: 14px;
  font-weight: normal;
  padding: 4px 7px;
  @include border-radius(5px);
}

.btn-large {
  font-size: 26px;
  padding: 14px;
}

// Button types

.btn-head {
  @include box-shadow(0 2px 0 rgba(#000, .3));
}

.btn-nav {
  padding: 5px 12px;
  font-weight: normal;
  background: #68604f;
  @include border-radius(5px);
  @include box-shadow(0 -1px 0 rgba(#000, .32));

  &:hover {
    background: #7e7157;
    @include box-shadow(0 -1px 0 rgba(#000, .48));
  }
}

.btn-fb {
  background: #3b5998;
  @include box-shadow(0 3px 0 #2f477a);

  &:hover {
    background: #35508e;
    @include box-shadow(0 3px 0 #2a3f6f);
  }

  &:active {
    @include box-shadow(inset 0 1px 0 #2a3f6f);
  }
}

.btn-vk {
  background: #3686c3;
  @include box-shadow(0 3px 0 #2b6b9c);

  &:hover {
    background: #307bbc;
    @include box-shadow(0 3px 0 #266192);
  }

  &:active {
    @include box-shadow(inset 0 1px 0 #266192);
  }
}

$lesson-types-icons: sprite-map("icons/lesson-types/*.png");

.btn-ico {
  height: 75px;
  width: 130px;
  @include box-shadow(0 2px 0 #e4d3b3);
  @include border-radius(10px);

  &:active {
    @include box-shadow(inset 0 1px 0 #6b6f29);
  }

  &.b-code {
    background: #f8f4ea sprite($lesson-types-icons, code, 50%, 0) no-repeat;

    &:hover {
      background: #f8f4ea sprite($lesson-types-icons, code-hover, 50%, 0) no-repeat;
    }

    &:active {
      background: #9ca33b sprite($lesson-types-icons, code-active, 50%, 0) no-repeat;
    }
  }

  &.b-play {
    background: #f8f4ea sprite($lesson-types-icons, play, 50%, 0) no-repeat;

    &:hover {
      background: #f8f4ea sprite($lesson-types-icons, play-hover, 50%, 0) no-repeat;
    }

    &:active {
      background: #9ca33b sprite($lesson-types-icons, play-active, 50%, 0) no-repeat;
    }
  }

  &.b-text {
    background: #f8f4ea sprite($lesson-types-icons, text, 50%, 0) no-repeat;

    &:hover {
      background: #f8f4ea sprite($lesson-types-icons, text-hover, 50%, 0) no-repeat;
    }

    &:active {
      background: #9ca33b sprite($lesson-types-icons, text-active, 50%, 0) no-repeat;
    }
  }
}

.btn-cc {
  background: #e5d3af;
  color: $default-fc;
  font-weight: normal;
  @include border-radius(3px);
  @include box-shadow(0 2px 0 #b5a581);
  @include text-shadow(0 1px #fff);

  &:hover {
    color: $default-fc;
    background: lighten(#e5d3af, 5%);
  }

  &:active {
    background: #e5d3af;
    @include text-shadow(0 1px #fff);
    @include box-shadow(inset 0 1px 0 #b5a581);
  }
}