.form {
  .line {
    @extend %clearfix;
    padding-bottom: 10px;
  }

  .full {
    width: 100%;
  }

  label {
    cursor: pointer;
  }

  p {
    margin: 0 0 5px 0;
  }

  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="email"] {
    background-color: #fff;
    padding: 9px 16px;
    border: 1px solid #bdbdbd;

    font-size: 24px;
    @include border-radius(3px);
    @include box-shadow(inset 0 1px 2px rgba(#999, .45));

    &:focus {
      border-color: #a2a940;
      color: #a2a940;
      @include box-shadow(0 0 4px #a2a940, inset 0 1px 2px rgba(#999, .45));
    }
  }

  .error {
    font-size: 14px;
    color: #b82a28;
    display: none;
    margin: 3px 0 0;
  }
}

.form-side-lbl {
  label {
    float: left;
    font-size: 20px;
    line-height: 38px;
    max-width: 100px;
    
    em {
      font-style: normal;
      line-height: 1;
      display: inline-block;
    }
  }

  .field {
    padding-left: 108px;

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="email"] {
      padding: 4px 13px;
      width: 100%;
    }
  }
}

.submitted {
  input,
  textarea,
  select {
    &:invalid {
      border-color: #b83231;
      @include box-shadow(0 0 4px #b83231, inset 0 1px 2px rgba(#999, .45));
      background-position: 97% 50%;
      background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAMAAAC6CgRnAAAAhFBMVEWtJyauJya5Kim5Kim5Kim5KimzKCe5Kim5Kim5Kim5Kim5Kim5Kim5Kim5KimuJyauJya2KSi5Kim5Kim5KimvJya5Kim5KimwJyetJya5Kim5Kim5Kim5KimuJya5Kim5Kim1KSi5Kim5Kim5Kim5Kim5Kim5Kim5KikAAACvJya5KikF9r2dAAAAKnRSTlP8/R2gbyLDME9IWkOaRVfu766THDrkMy/b+wUOD2Psbiu2jxMJH3lNPwDUQp/gAAAA7UlEQVR42m2S2XLDIAxFSdqmbfY99YYBg0HR//9fcWwLOePzducYMVxLAOFCxEFCjMIc8MXRuKkrDTLOJXOPP5xwu5N7LPCN53Vw5Xiq9r7FHnnpHd3lCwAcOOWdc0gOksNd58y80za6A8UK2JBMgUgJWwshpTUIlrYNfPIvuVt9wQdzDXfyG1hBZuIwAAvtUjgWtz8sVI2AI86SeUtvpz4H9IY6oz5ppIoOznOdaW87V97GmUC9yL3q/+39ie/UIe8dXOXUyPq3oF26nLjS+1CwHcx3OhvepSuvciDXYdW6jVR+oyzbT9JNxKb8D5e1cMeV6+TOAAAAAElFTkSuQmCC);
    }

    &:valid {
      background-position: 97% 50%;
      background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAUCAMAAACknt2MAAAARVBMVEWiqUCiqUCiqUCiqUCiqUCiqUCiqUCiqUCepT6iqUCiqUCaoDyiqUCiqUCiqUCiqUCiqUCcoz2iqUAAAACZoDyboj2iqUAbnBpnAAAAFHRSTlOaRxgiYw5faLh/L9s6D3GgMMNNAMK2W0wAAABwSURBVHjadczLDoJQDEXRiqi8QSr9/081d9PJzYE9adKV1lxb412GXUnEkqSCmcrZI0nlu7/sTjau5n64kELzGL9Jxa1IxDGJuBXBKoGGXBxdJTz8RBWS5ItKEiYCYSIQpgJhKhAmAlFrKUrePL3uD+zVJq7uyJtVAAAAAElFTkSuQmCC);
    }
  }

  :invalid + .error {
    display: block;
  }
}