// Fonts
$default-font-family: 'PT Sans', Arial, Helvetica, Geneva, sans-serif;
$headings-font-family: 'PFAgoraSansPro-medium', Arial, Helvetica, Geneva, sans-serif;

// Font colors
$default-fc: #322218;
$link-fc: #15647f;
$header-nav-fc: #76858a;
$gray: #83837d;
$light-gray: #e8e8e2;

// Colors
$header-c: #3d3d3d;
$footer-c: #f4ecdc;

// Main page
$intro-video-width: 411px;
$intro-video-height: 295px;