{% extends "index.html" %}

{% block title %}Помощь{% endblock %}

{% block content %}
<div class="content flat-page">
    <header class="page-header">
        <h2>Помощь</h2>
    </header>

    <article>
        <h3>Профиль</h3>

        <div>Здесь вы можете указать ту информацию о себе, которую хотите поведать миру:</div>
        <ul>
            <li>Аватар;</li>
            <li>ФИО;</li>
            <li>Пол;</li>
            <li>Дату рождения;</li>
            <li>Географическое местоположение;</li>
            <li>Контактную информацию в других сервисах;</li>
            <li>Интересы и что-нибудь ещё.</li>
        </ul>
        <p>Из всей указанной на сайте информации самостоятельно нельзя поменять только имя аккаунта и почтовый адрес, на который регистрировался аккаунт — чтобы даже в случае &laquo;хищения&raquo; пароля от аккаунта настоящий владелец мог вернуть его себе.</p>
        <p>Для смены этих данных обращайтесь (с любой из указанной в профиле электронной почты) в службу поддержки, рассказав в сопроводительном тексте о причинах перемен. Обращаем ваше внимание на то, что имя аккаунта можно поменять только в том случае, если не было написано ни постов, ни комментариев. Здесь меняется, так сказать, системная информация — пароль и адреса электронной почты. Вы можете указать ещё один email, отличный от того, который использовался при регистрации на сайте — вдруг вы захотите, чтобы уведомления от сайта приходили не на основной ящик, всякое ведь бывает.</p>

        <h3>Приватность</h3>

        <p>На этой странице осуществляется контроль над настройками приватности вашего аккаунта: можно сделать возможности просмотра контактной информации и написания личных сообщений доступными только для ваших друзей.</p>
        <p>А ещё пользователи со значками &laquo;Старожил&raquo;, &laquo;Автор&raquo;, &laquo;Звезда&raquo; и &laquo;Легенда&raquo; могут отключить для своего профиля показ баннерной рекламы на сайте. Но лучше этого не делать, так как плохой рекламы на Хабрахабре нет, не было и не будет.</p>

        <h3>Уведомления</h3>

        <p>Настройки в этом разделе помогут настроить все-все-все системные уведомления, которые отправляет Хабр от случая к случаю. Нет совершенно никакого смысла перечислять все доступные настройки — их много и они периодически меняются. Отметим лишь то, что у пользователей с правами &laquo;Read Only&raquo; настроек гораздо меньше, чем у &laquo;полноценных&raquo; пользователей.</p>
        <p>Видите, как всё просто!</p>
    </article>
</div>
{% endblock %}