<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} - devmate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic">
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block styles %}{% endblock %}
</head>
<body{% if url == 'home' %} class="home"{% endif %}>
    <header class="main-header" role="banner">
        <div class="container">
            <h1><a href="/" class="branding logo-top{% if url == 'home' %}-home{% endif %}">devmate</a></h1>

            <nav class="nav-main" role="navigation">
                <ul>
                    <li><a href="/help">Помощь</a></li>
                    <li><a href="#login-modal" data-toggle="modal">Вход</a></li>
                    <li><a href="#register-modal" class="btn btn-nav" data-toggle="modal">Регистрация</a></li>
                </ul>
            </nav>
        </div>

        {% if url == 'home' %}
            <div class="container media">
                <div class="intro-video">
                    <iframe src="http://player.vimeo.com/video/60233275" width="411" height="295" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <div class="disclaimer">
                    <h2>Лучший путь <br> к изучению технологии</h2>
                    <p>Узнай как создавать сайты при помощи HTML, CSS, Java Script и Ruby on Rails</p>
                    <a class="btn btn-large btn-head" href="/classes-list">Начни изучение сегодня</a>
                </div>
            </div>
        {% endif %}
    </header>

    <section class="main-content container" role="main">
        {% block content %}{% endblock %}
    </section>

    {% if url != 'task' %}
    <footer class="main-footer" role="contentinfo">
        <div class="container">
            <div class="f-brand">
                <a href="/" class="branding logo-bottom">devmate</a>
            </div>

            <section class="f-content-left">
                <p class="mission">
                    Our mission is to bring affordable Technology education to people everywhere, in order to help them achieve their dreams and change the world.
                </p>
                <p class="copy">&copy; 2012 Devmate</p>
                <small>Дизайн: <a href="#">Е.Апрель</a></small>
            </section>

            <section class="f-content-col">
                <nav>
                    <ul>
                        <li><a href="#">Start learning free</a></li>
                        <li><a href="#">About Treehouse</a></li>
                        <li><a href="#">Treehouse Blog</a></li>
                        <li><a href="#">Treehouse Shop</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </nav>
            </section>

            <section class="f-content-col">
                <nav>
                    <ul>
                        <li><a href="#">Start learning free</a></li>
                        <li><a href="#">About Treehouse</a></li>
                        <li><a href="#">Treehouse Blog</a></li>
                        <li><a href="#">Treehouse Shop</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </footer>
    {% endif %}

    <div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-side-bg">
            <div class="modal-bottom-bg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                    <div class="modal-body">
                        <div id="auth-type" class="form auth-step current">
                            <h3 class="modal-title">Вход</h3>

                            <div class="line">
                                <a class="btn btn-large btn-fb" href="#">Войти через Facebook</a>
                            </div>
                            <div class="line">
                                <a class="btn btn-large btn-vk" href="#">Войти через ВКонтакте</a>
                            </div>
                            <div class="line c-line">
                                или <a class="change-auth-step" href="#auth-form">войти при помощи e-mail</a>
                            </div>
                        </div>

                        <div id="auth-form" class="form auth-step">
                            <h3 class="modal-title">Вход</h3>

                            <form action="/login" data-validate="parsley" novalidate>
                                <div class="line">
                                    <p><label for="email">E-mail:</label></p>
                                    <input class="full" type="email" name="email" id="email" data-required="true">
                                </div>
                                <div class="line">
                                    <p>
                                        <label for="password">Пароль:</label>
                                        <a href="#auth-forgot-pswd" class="forgot-pswd change-auth-step">напомнить пароль</a>
                                    </p>
                                    <input class="full" type="password" name="password" id="password" data-required="true">
                                </div>
                                <div class="line c-line">
                                    <input type="submit" class="btn btn-large" value="Войти" disabled>
                                    <p class="error btn-error"></p>
                                    <label for="rememberme" class="remember-me">
                                        <input type="checkbox" name="rememberme" id="rememberme"> помнить меня
                                    </label>
                                </div>
                            </form>
                        </div>

                        <div id="auth-forgot-pswd" class="form auth-step">
                            <h3 class="modal-title">Напомнить пароль</h3>

                            <form action="/forgot-password" data-validate="parsley" novalidate>
                                <div class="line">
                                    <p><label for="recover-email">Введите свою почту:</label></p>
                                    <input class="full" type="email" name="email" id="recover-email" data-required="true">
                                </div>
                                <div class="line c-line">
                                    <input type="submit" class="btn btn-large" value="Отправить пароль" disabled>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="register-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

            <div class="modal-body">
                <h3 class="modal-title">Регистрация</h3>

                <div class="auth-btns">
                    <a class="btn btn-large btn-fb" href="#">Через Facebook</a>
                    <a class="btn btn-large btn-vk" href="#">Через ВКонтакте</a>
                </div>

                <div class="separator">
                    <span>или</span>
                    <hr>
                </div>

                <div class="form">
                    <form action="/register"  data-validate="parsley" novalidate>
                        <div class="r-col">
                            <p><label for="reg-email">E-mail:</label></p>
                            <input class="full" type="email" name="reg_email" id="reg-email" data-required="true">
                        </div>

                        <div class="r-col">
                            <p><label for="reg-pswd">Пароль:</label></p>
                            <input class="full" type="password" name="reg_pswd" id="reg-pswd"  data-required="true">
                        </div>

                        <input type="submit" class="btn btn-large" value="Войти" disabled>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block modal %}{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/static/js/scripts.js"></script>

    {% block script %}{% endblock %}
</body>
</html>