{% extends "index.html" %}

{% block title %}Урок{% endblock %}

{% block content %}
<header class="lesson-header">
    <ul class="breadcrumbs">
        <li><a href="#">Курсы</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">Создание простого сайта</a></li>
    </ul>

    <article>
        <h2>Текстовый редактор и HTML</h2>
        <p>{{ lipsum(n=1, html=False, min=35, max=45) }}</p>
    </article>
</header>

<section class="content">
    <ul class="items-list lessons-list">
        {% for i in range(10) %}
        <li class="lessons-list-item">
            <div class="badge-wrap">

            </div>

            <a href="#" class="btn">Смотреть</a>

            <div class="lesson-descr">
                <h3>{{ lipsum(n=1, html=False, min=2, max=5) }}</h3>
                <p>{{ lipsum(n=1, html=False, min=10, max=25) }}</p>
            </div>
        </li>
        {% endfor %}
        <li class="lessons-list-item lesson-soon">
            <div class="badge-wrap">
                <span class="badge badge-soon">скоро</span>
            </div>

            <div class="lesson-descr">
                <h3>{{ lipsum(n=1, html=False, min=2, max=5) }}</h3>
                <p>{{ lipsum(n=1, html=False, min=10, max=25) }}</p>
            </div>
        </li>
    </ul>
</section>
{% endblock %}