
{% extends "index.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/task.css">
{% endblock %}

{% block title %}Выполнение задания{% endblock %}

{% block content %}
<div class="content test-page">
    <header>
        <ul class="breadcrumbs">
            <li><a href="#">Курсы</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Создание простого сайта</a></li>
        </ul>

        <h2>Create an H1 containing the text "Smells Like Bakin".</h2>

        <p>Your code from each task should be added to the code written in the previous task.</p>
    </header>

    <section class="task cols">
        <div class="col">
            <div class="question-plate">
                <div class="quest-cols">
                    <div class="badge-wrap">
                        <div class="badge badge-questions">Задача 1/1</div>
                        <p>
                            <a class="btn" href="#">Проверить</a>
                        </p>
                    </div>

                    <p>Write your code in the editor and click "Check My Work".</p>

                </div>
            </div>
        </div>
    </section>

    <div class="code-block cols">
        <section class="col code-editor">
            <textarea id="task-code" cols="30" rows="10">Введите сюда код</textarea>
        </section>

        <section class="col code-preview">
            <div class="side-arrow"></div>
            <div class="preview-wrap">
                <div class="file-block">
                    <form action="/">
                        <button class="btn">
                            <i class="ico controls-refresh"></i> обновить
                        </button>
                        <div class="file-name">
                            <input type="text" value="index.html"/>
                        </div>
                    </form>
                </div>
                <div class="preview-block">
                    <iframe src="/task-preview" frameborder="0"></iframe>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}