{% extends "index.html" %}

{% block title %}Урок{% endblock %}

{% block content %}
<div class="video-block">
    <img src="http://placehold.it/980x500" alt="">
</div>

<header class="lesson-header">
    <ul class="breadcrumbs">
        <li><a href="#">Курсы</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">Создание простого сайта</a></li>
    </ul>
    <h2>Введение</h2>
    <p>{{ lipsum(n=1, html=False, min=35, max=45) }}</p>
</header>

<section class="content">
    <ul class="items-list lessons-list lesson-video-list">
        {% for type in ['code','text','play','code','text','play'] %}
        <li class="lessons-list-item">
            <div class="lesson-type">
                <a class="btn btn-ico b-{{ type }}" href="#"></a>
            </div>

            {% if loop.index % 2 %}
            <a href="#" class="btn">Смотреть</a>
            {% else %}
            <a href="#" class="btn">Попробовать</a>
            {% endif %}

            <div class="lesson-descr">
                <h3>{{ lipsum(n=1, html=False, min=2, max=5) }}</h3>
                <p>{{ lipsum(n=1, html=False, min=10, max=25) }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}