@import "compass/css3";

$experimental-support-for-svg: true;

@import "base/helpers";

body {
  background: #e1e1d6;
}

.main-content {
  padding: 0;
  @include box-shadow(none);

  .content {
    padding: 20px;
  }
}

.container {
  max-width: 100%;
}

.main-content header {
  padding: 0 0 15px 50px;
  font-size: 16px;
  color: #59544c;

  h2 {
    font-size: 30px;
    @include text-shadow(0 1px #fff);
  }

  h2, p {
    margin: 0;
  }

  .breadcrumbs li a {
    @include box-shadow(inset 0 -1px #fff);
  }
}

.main-content .question-plate {
  margin-bottom: 15px;

  .badge-wrap {
    width: 120px;
  }

  .quest-cols > p {
    margin: 0 128px 0 0;
  }
}

.cols {
  @extend %clearfix;

  .col {
    float: left;
    width: 50%;
  }
}

.code-block {
  position: relative;

  .code-editor {
    padding-right: 6px;
  }

  textarea {
    width: 100%;
  }
}

.code-preview {
  padding-left: 6px;
  position: relative;

  .preview-wrap {
    @include border-radius(7px);
    @include box-shadow(0 0 7px rgba(#000, .7));
    border-top: 1px solid #fff;
    overflow: hidden;
    background: #fff;
  }

  .file-block {
    padding: 11px;
    background: #c7c8ba;

    .file-name {
      padding-right: 163px;
    }

    input {
      font-size: 24px;
      color: #919191;
      border: 0 none;
      @include border-radius(5px);
      padding: 6px 10px;
      width: 100%;
    }

    .btn {
      padding: 7px 10px;
      font-weight: normal;
      font-size: 24px;
      float: right;
    }
  }

  .preview-block {
    height: 400px;
    padding: 11px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.side-arrow {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  left: -34px;
  top: 23%;

  &:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    top: 7px;
    right: -12px;
    @include transform(rotate(45deg));
    @include box-shadow(0 0 7px rgba(#000, .7));
  }
}